# Ignore pycharm files.
.idea/*

# Ignore python virtual environment.
venv/*

# Ignore code coverage reports.
.coverage

# Ignore pycache folder.
__pycache__

# Setup files
participants.csv
participants_test.csv
